body {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card-container {
    display: grid;
    gap: 20px;
}

.card {
    min-width: 105px;
    min-height: 148px;
    border: 4px black solid;
    border-radius: 4px;

}

.body-container {
    width: 80%;
    justify-content: center;
    align-items: center;
}

nav {
    border: 4px gray solid;
    border-radius: 20px;
    background-color: gray;
    align-self: center;
}

a {
    font-family: "Tiktok Sans", sans-serif;
    font-weight: 900;
    text-decoration: none;
    color: white;
}

h1, h2, p {
    font-family: "Tiktok Sans", sans-serif;
    justify-self: center;
}

.other {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
}
.other a {
    border: 4px gray solid;
    background-color: gray;
    border-radius: 4px;

}